# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js
.env

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

# 빈 폴더 생성 위한 숨김파일 무시
!assets/.keep
!components/.keep
!hooks/.keep
!lib/.keep
!store/.keep
!styles/.keep
!utils/.keep

